<footer id="footer">
    <div class="container">
        <h3>{{ about_me.Full_Name }}</h3>
        <p>{{ about_me.Short_About_Me }}</p>
        <div class="social-links">
            <a href="{{ about_me.Instagram }}"><i class="bx bxl-instagram"></i></a>
            <a href="{{ about_me.GitHub }}"><i class="bx bxl-github"></i></a>
        </div>
        <div class="copyright">
            &copy; Copyright
            <strong>
                <span>
                {% if about_me.Full_Name %}{{ about_me.Full_Name }}{% else %}
                    Iran {% endif %}
                </span>
            </strong>. All Rights Reserved
        </div>
    </div>
</footer><!-- End Footer -->
